<div class="container-fluid" style="background-color: #778da9; height:100vh;padding-top:120px;">
  <div class="container py-3 shadow bg-light rounded" style="width: 60%;">
    <h3 class="mb-2 text-secondary">ADD SUB CATEGORIES🧾</h3>
    <form action="" method="post" enctype="multipart/form-data">
      <div>
        <label for="category" class="form-label fs-5">Categories Name:</label>
        <select name="categories" class="form-select" id="category">
            <option value="">select</option>
            {{#each data}}
                <option value="{{this._id}}">{{this.categoryName}}</option>
            {{/each}}
        </select>
        <input type="hidden" value="{{result.Group}}" id="input"> <!-- Changed to hidden input -->
      </div>
      <div>
        <label for="subcategory" class="form-label fs-5 mt-2">Sub Categories:</label>
        <input type="text" id="subcategory" placeholder="Enter the subcategory" class="form-control" value="{{result.SubCatgories}}" name="subcat">
      </div>
      <button type="submit" class="btn btn-warning mt-2">UPDATE SUBCATEGORY</button>
    </form>
  </div>
</div>

<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    let inputvalue = document.getElementById("input").value;
    let selectBox = document.getElementById("category");
    let options = selectBox.options;

    for (let i = 0; i < options.length; i++) {
        if (options[i].value == inputvalue) {
            options[i].selected = true;
        }
    }
  });
</script>
