<div class="d-flex">
  <!-- Sidebar -->
  <div
    class="bg-light shadow p-3 text-white"
    style="width: 250px;min-height:91vh;position:fixed"
  >
    <div class="nav flex-column">
      <a href="/admin/category" class="btn btn-dark mb-2">Categories🔰</a>
      <a href="/admin/product" class="btn btn-dark mb-2">Product🔰</a>
      <a href="/admin/subcat" class="btn btn-dark mb-2">Subcategories🔰</a>
      <a href="/admin/users" class="btn btn-dark mb-2">Users🔰</a>
    </div>
  </div>
  <div class="flex-grow-1 p-3" style="width: 750px;min-height:90vh; margin-left:250px">
    <table class="table shadow mt-2 rounded">
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>View</th>
        <th>Delete</th>
      </tr>
      {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.email}}</td>
      <td><a href="/admin/view/{{this._id}}" class="btn btn-primary">View</a></td>
      <td><a href="" class="btn btn-danger">Delete</a></td>
    </tr>

      {{/each}}
    </table>

  </div>
</div>